body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  display: flex;
  justify-content: center;
}

table {
  border-spacing: 0
}

td:nth-child(1),
td:nth-child(7) {
  background-color: lightgray;
  color: blue
}

.calendar {
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90vw;
  height: 50vh;
  border: 1px solid rgb(0, 0, 0);
}

.calendar td {
  border: 1px solid rgba(0, 0, 0, 0.7)
}

.calendar tr {
  width: 20vw;
}

.calendar td:hover {
  background-color: lightblue;
}

.weekDays {
  background-color: rgba(0, 150,200);
  color: white;
  width: 11vw
}

.scroll {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto
}

.form {
  padding: 20px 12px 10px 20px;
}

